<div id="new_task">
  <%= form_for new_task, remote: true, html: {class: 'form-inline'} do |f| %>
    <div class="form-group">
      <h3><%= t(:question) %></h3>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.text_field :name, id: "task_input", autocomplete: "off"%>
    </div>
  <% end %>
</div>