<%= link_to '<span class="glyphicon glyphicon-arrow-up"></span>'.html_safe, task_up_path(task), method: :post, remote: true %>
/
<%= link_to '<span class="glyphicon glyphicon-arrow-down"></span>'.html_safe, task_down_path(task), method: :post, remote: true %>