<div class="content-section">
  <%= render partial: "tasks/new", locals: {new_task: @task} %>
</div>

<div class="row">
  <div class="col-md-6">
    <p>To-do</p>
    <div id="incompleted-tasks">
      <% @incompleted_tasks.each do |task| %>
        <%= render task %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <p>Done</p>
    <div id="today-completed-tasks">
      <% @today_completed_tasks.each do |task| %>
        <%= render task %>
      <% end %>
    </div>
  </div>
</div>