<div class="content-section">
  <%= render partial: "tasks/new", locals: {new_task: @task} %>
</div>

<div class="row text-center">
  <div class="col-md-6">
    <h4>
      To-do (<span id="task-num"><%= @incompleted_tasks.count %></span>/6)
    </h4>
    <div id="incompleted-tasks">
      <% @incompleted_tasks.each do |task| %>
        <%= render task %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Done</h4>
    <div id="today-completed-tasks">
      <% @tasks_completed_today.each do |task| %>
        <%= render task %>
      <% end %>
    </div>
  </div>
</div>