.top-center {
  padding-top: 15px;
  text-align: center;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.text-center {
  text-align: center;
}

.content-section {
  padding-bottom: 20px;
}

.col-md-6 {
    margin-top: 50px;
}