// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#footer-logout {
	padding: 0 0 15px 15px;
	font-weight: 300;
}

 .login-form {
  input[type=submit] {
    border: 0;
    width:100%;
    text-align:center;
    background-color:inherit;
    padding-top: 3rem;
  }
  input[type=email], input[type=password] {
    width: 100%;
    margin: 0 auto;
    display: block;
    background: 0;
    border: 0;
    border-bottom: 3px solid #c5c3c3;
    color: $d6-task-input;
    font-weight: 500;
    outline: 0;
    text-align: center;
  }
  label[for=session_password] {
    padding-top: 2rem;
  }
 }