form > input#task_complete:checked + label {
 text-decoration: line-through;
 color: #777;
}

#new_task {
  #task_name {
    min-width: 300px;
  }
  #task_priority {
    max-width: 50px;
  }
}

#calendar-container {
  text-align: center;
  padding-bottom: 30px;
}