form > input[type=checkbox]:checked + label {
 text-decoration: line-through;
 color: $d6-completed-task;
}

#new_task {
  padding-top: 30px;
  text-align: center;

  #task_name {
    min-width: 300px;
  }
  #task_priority {
    max-width: 50px;
  }
}

#calendar-container {
  text-align: center;
  padding-bottom: 30px;
}

#task_input {
  width: 100%;
  margin: 0 auto;
  display: block;
  background: 0;
  border: 0;
  border-bottom: 3px solid #c5c3c3;
  color: $d6-task-input;
  font-weight: 500;
  outline: 0;
  text-align: center;
  font-size: $lg-font-size;
}

#incompleted-tasks, #today-completed-tasks {
  font-size: 125%;
  font-weight: 300;
}

.delete-link {
  padding-left: 15px;
}

.bar-icon {
  color: $d6-light-gray;
  padding-right: 15px;
}