// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-section {
  padding-bottom: 30px;
}

form > input#task_complete:checked + label {
 text-decoration: line-through;
 color: #777;
}

#new_task {
  #task_name {
    min-width: 300px;
  }
  #task_priority {
    max-width: 50px;
  }
}